REACT_APP_SUPABASE_URL=https://grcfwhymebrhxrchrucu.supabase.co
REACT_APP_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdyY2Z3aHltZWJyaHhyY2hydWN1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2NTI4Mjg3ODQsImV4cCI6MTk2ODQwNDc4NH0.XzY5nS90VJAjrj7SL-AlWiW8oc0nT_HLZuf8OTI0Tis